[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tldextract = "*"
praw = "*"
psaw = "*"
tqdm = "*"
newspaper3k = "*"

[requires]
python_version = "3.6"
